/* General */
:root {
	--main-color: #111f4d;
    --main-color-hover: #0f1a40;
    --main-color-light: #172965;
	--accent-color: #e43a19;
	--accent-color-hover: #c83215;
    --accent-color-light: #ff5635;
    --accent-color-very-light: #ff775c;
    --secondary-color: #2a7d46;
    --secondary-color-hover: #206238;
    --secondary-color-light: #3aab60;
    --light-grey: #f2f4f7;
    --black: #020205;    
}
body {
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
section,
footer {
	padding-top: 50px;
	padding-bottom: 50px;
}
a {
	color: var(--accent-color);
}
a:hover {
	color: var(--accent-color-hover);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--main-color);
}
.light-grey-bg {
    background-color: var(--light-grey);
}
.blue-bg {
    background-color: var(--main-color);
    color: var(--light-grey);
}
.orange-bg {
    background-color: var(--accent-color);
    color: var(--light-grey);
}
.black-bg {
    background-color: var(--black);
    color: var(--light-grey);
}
.secondary-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: 1px solid var(--secondary-color); 
}
.secondary-btn:hover {
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
    color: #fff;
}
.btn:focus {
    box-shadow: none;
}
.orange-btn {
	background-color: var(--accent-color);
	color: var(--light-grey);
    color: #fff;
    border: 1px solid var(--accent-color);
}
.orange-btn:hover {
	background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}
.blue-btn {
    background-color: var(--main-color);
    color: var(--white);
}
.blue-btn:hover {
    background-color: var(--accent-color);
}
.contact-link {
    color: inherit;
}
.contact-link:hover,
.contact-link:focus {
    text-decoration: none;
    color: inherit;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--accent-color);
}
.page-footer{
    background-color: var(--main-color-hover);
    color: #fff;
}
/* End General */

/* Modal */
.modal .modal-content {
/*    background-color: var(--black);*/
/*    color: var(--white);*/
}
.modal .close {
/*    color: #fff;*/
}
.modal .close:hover,
.modal .close:focus {
/*    color: #fff !important;*/
}
.modal .modal-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
} 
/* End Modal */

/* Navbar */
.navbar {
	background-color: var(--main-color);
}
.navbar .navbar-brand img {
    height: 60px;
}
.navbar .nav-item {
    text-transform: uppercase;
}
.navbar .navbar-text {
    color: var(--light-grey);
}
.navbar .navbar-text small {
    color: rgba(255,255,255,.5);
}
.navbar .navbar-toggler {
    border: none;
    color: #fff;
}
.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* End Navbar */

/* Media Navbar */
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        font-size: 0.8rem;
    }
    .navbar .navbar-brand img {
        height: 50px;
    }
}
/* Small */
@media (min-width: 576px) and (max-width: 766px) {
    .navbar .navbar-brand img {
        height: 50px;
    }
}
/* Extra small */
@media (max-width: 575px) {
    .navbar {
        font-size: 0.8rem;
    }
   .navbar .navbar-brand img {
        height: 40px;
    } 
}
/* End Media Navbar */

/* Main Offer */
.main-offer {
	background-image: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
    background-size: cover;
    background-color: var(--main-color);
	min-height: 700px;
	color: #fff;
}
.main-offer h1 span {
    display: block;
}
.main-offer .main-offer-icon {
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: 40px;
    background-position: left 15px top 0;
    color: var(--light-grey);   
}
.main-offer .main-offer-icon-1 {
    background-image: url(../img/3d-printer-white-opacity.png);
} 
.main-offer .main-offer-icon-2 {
    background-image: url(../img/innovation-white-opacity.png);
}
.main-offer .main-offer-icon-3 {
    background-image: url(../img/guarantee-white-opacity.png);
}
.main-offer .main-offer-icon-4 {
    background-image: url(../img/quality-white-opacity.png);
}
.main-offer .main-offer-icon-5 {
    background-image: url(../img/calendar-white-opacity.png);
}
/* End Main Offer */

/* Media Main Offer */
/* Extra Extra large */
@media (min-width: 1550px) {
    .main-offer {
        background-position: center top -150px;
    }
}
/* Medium, Small and Extra Small */
@media (max-width: 991px) {
    .main-offer {
        background-image: url(../img/main-bg-medium.jpg);
        text-align: center;
        min-height: 400px;
    }
    .main-offer h1 {
        font-size: 2.5rem;  
    }
    .main-offer h1 span {
        display: inline;
    }
}
/* Medium */
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
    .main-offer {        
        background-position: center top -50px;
    }    
    .main-offer .main-offer-icon {
        background-position: center top;
        font-size: 0.7rem;
    }
    .main-offer .main-offer-icon-1 {
        background-image: url(../img/3d-printer-light-grey.png);
    } 
    .main-offer .main-offer-icon-2 {
        background-image: url(../img/innovation-light-grey.png);
    }
    .main-offer .main-offer-icon-3 {
        background-image: url(../img/guarantee-light-grey.png);
    }
    .main-offer .main-offer-icon-4 {
        background-image: url(../img/quality-light-grey.png);
    }
    .main-offer .main-offer-icon-5 {
        background-image: url(../img/calendar-light-grey.png);
    }
}
/* Small and Extra Small */
@media (max-width: 767px) {
    .main-offer {
        background-position: right top;
    }
    .main-offer .main-offer-icon {
        padding-top: 0;
        padding-bottom: 10px;
        background-image: none;
    }
}
/* End Media Main Offer */

/* Benefits */
.benefits h3 {
    font-size: 1.5rem;
}
.benefits .benefits-item {
    padding-top: 80px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: left 15px top 0;
    background-size: 70px;
}
.benefits .benefits-item-1 {
   background-image: url(../img/benefits_icons/benefit-1.svg);
    background-image: url(../img/benefits_icons/benefit-1-blue-orange.png);
}
.benefits .benefits-item-2 {
   background-image: url(../img/benefit-2.svg);
    background-image: url(../img/benefits_icons/benefit-2-blue-orange.png);
}
.benefits .benefits-item-3 {
    background-image: url(../img/benefit-3.svg); 
    background-image: url(../img/benefits_icons/benefit-3-blue-orange.png);
}
.benefits .benefits-item-4 {
   background-image: url(../img/benefit-4.svg);
    background-image: url(../img/benefits_icons/benefit-4-blue-orange.png);
}
.benefits .benefits-item-5 {
   background-image: url(../img/benefit-5.svg);
    background-image: url(../img/benefits_icons/benefit-5-blue-orange.png);
}
.benefits .benefits-item-6 {
    background-image: url(../img/benefit-6.svg);
    background-image: url(../img/benefits_icons/benefit-6-blue-orange.png);
}
/* End Benefits */

/* Media Benefits */
/* Small ane Extra Small */
@media (max-width: 767px) {
   .benefits .benefits-item {
        padding-top: 0;
        padding-left: 100px; 
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-position: left 15px top 0; 
    }
} 
/* End Media Benefits */

/* Services */
.services .services-item {
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 200px;
    color: var(--light-grey);
    padding: 20px;
    margin: 10px;
}
.services .services-item p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.services .services-item-1 {
    background-image: url(../img/service-1.jpg);
} 
.services .services-item-2 {
    background-image: url(../img/service-2.jpg);
}
.services .services-item-3 {
    background-image: url(../img/service-3.jpg);
}
.services .services-item-4 {
    background-image: url(../img/service-4.jpg);
}
.services .services-item-info {
    position: relative;
}
.services .btn-group {
    position: absolute;
    bottom: 0;
}
.services .offset-6 .btn-group {
    right: 15px;
}
.services not(.offset-6) .btn-group {
    left: 15px;
}
.services .btn-group .orange-bg:hover {
	background-color: var(--accent-color-hover);
}
.services .services-more {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.2rem;
}
/* End Services */

/* Media Repair */
/* Extra Small */
@media (max-width: 575px) {
	.repair img {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
/* End Media Repair */

/* Reviews */
.reviews img {
	border-radius: 50%;
	width: 100px;
	margin-bottom: 30px;
}
.reviews blockquote {
	font-size: 1rem;
	font-style: italic;
}
.reviews .carousel-control-prev-icon {
  background-image: url(../img/left-arrow.svg);
}
.reviews .carousel-control-next-icon {
  background-image: url(../img/right-arrow.svg);
}
.reviews .carousel-item .row {
	min-height: 250px;
}
/* End Reviews */

/* Media Reviews */
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
    .reviews .carousel-item .row {
        min-height: 350px;
    }
}
/* Small and Extra Small */
@media (max-width: 767px) {
    .reviews img {
        width: 100px;
        margin-bottom: 10px;
        text-align: center;
    }
    .reviews .carousel-item .row {
        min-height: 500px;
    }
}
/* Extra Small */
@media (max-width: 575px) {
    .reviews .carousel-item .row {
        min-height: 600px;
    }
}
/* End Media Reviews */

/* About */
.about table td {
    vertical-align: middle;
    padding-top: 0;
	padding-bottom: 1rem;
}
.about .about-number {
	text-align: right;
	color: var(--accent-color);
	font-weight: 700;
    font-size: 1.7rem;
}
/* End About */

/* Media About */
/* Small and Extra Small */
@media (max-width: 767px) {
    .about table td {
        padding-bottom: 0.8rem;
    }
    .about .about-number {
        font-weight: 700;
        font-size: 1.2rem;
    }
}
/* End Media About */

/* Footer */
.page-footer {
	padding-top: 70px;
	padding-bottom: 70px;
}
.page-footer ul {
    padding: 0;
}
.page-footer li {
	list-style-type: none;
}
.page-footer a {
	color: var(--light-grey);
}
.page-footer .btn {
    white-space: normal;
}
/* End Footer */














